body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

header input[type="email"] {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #e9ecef;
    color: #495057;
    border-radius: 5px;
    margin-bottom: 10px;
    text-align: center;
}

nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
}

nav a {
    text-decoration: none;
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    text-align: center;
    flex-grow: 1;
}

nav a:not(:last-child) {
    margin-right: 5px;
}

h1, h2 {
    text-align: center;
}

form label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

form input[type="text"],
form input[type="file"],
form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ced4da;
}

form input[type="radio"] {
    margin-right: 10px;
}

form input[type="checkbox"] {
    margin-right: 5px;
}

form button {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: #218838;
}

footer {
    text-align: center;
    margin-top: 20px;
}
